*{
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -msbox-sizing: border-box;
}
body{
   overflow-x: hidden;
}
img{
   max-width:100%;
}
body {
  margin: 0;
  padding: 0;
  width:100vw;
  height: 100vh;
  background-color: #eee;
}

.loader-wrapper {
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 999999;
  background-color: rgb(101,81,222);
  display:flex;
  justify-content: center;
  align-items: center;
}
.loader {
  display: inline-block;
  width: 80px;
  height: 80px;
  position: relative;
  border: 4px solid #Fff;
  animation: loader 2s infinite ease;
}
.loader-inner {
  vertical-align: top;
  display: inline-block;
  width: 100%;
  background-color: #fff;
  animation: loader-inner 5s infinite ease-in;
}

@keyframes loader {
  0% { transform: rotate(0deg);}
  25% { transform: rotate(180deg);}
  50% { transform: rotate(180deg);}
  75% { transform: rotate(360deg);}
  100% { transform: rotate(360deg);}
}

@keyframes loader-inner {
  0% { height: 0%;}
  25% { height: 0%;}
  50% { height: 100%;}
  75% { height: 100%;}
  100% { height: 0%;}
}


.random-bg{
  height:500px;
  background-color:rgb(101,81,222);
  padding-top:1px;
  background-repeat:no-repeat;
  background-size:cover;
  position:relative;
}
.random-bg::before{
  content:'';
  position:absolute;
  left:0;
  top:0;
  width:100%;
  height:100%;
  background:rgb(101,81,222);
  z-index:0;
}
.winner-wrap{
  max-width:280px;
  min-height:280px;
  background:#b21f66;
  margin:5% auto 0;
  position:relative;
  padding:1rem 2rem 6.5rem 2rem;
  font-family: 'Lato', sans-serif;
  text-align:center;
  cursor:pointer;
}
.winner-wrap:hover .right-ribbon{
  right:-45px;
  border-left:20px solid #E0B05C;
  transition:all ease .3s;
}
.winner-wrap:hover .left-ribbon{
  left:-45px;
  border-right:20px solid #E0B05C;
  transition:all ease .3s;
}
.winner-wrap:hover .winner-ribbon{
  box-shadow:0 3px 6px 0px rgba(0,0,0,0.2);
  transition:all ease .3s;
}
.border{
  position:absolute;
  width:90%;
  height:90%;
  border:1px solid rgba(255, 189, 105, 0.4);
  left:0; right:0;
  top:0; bottom:0;
  margin:auto;
}
.medal-box{
  width:60px;
  height:60px;
  background:#fe346e;
  color:#ffbd69;
  border-radius:50px;
  line-height:70px;
  font-size:2.3rem;
  margin:.8rem auto 1rem;
}
.winner-wrap h1{
  color:rgba(255, 189, 105, 0.95);
  font-size:1.4rem;
  font-weight:300;
  text-transform:uppercase;
  margin-bottom:1rem;
}
.winner-wrap h2{
  color:#fff;
  font-size:1.2rem;
  font-weight:400;
  text-transform:uppercase;
  margin-bottom:.85rem;
}
.winner-ribbon{
  width:100%;
  height:50px;
  background:#ffbd69;
  text-align:center;
  font-family: 'Bebas Neue', cursive;
  font-size:2.8rem;
  color:#fe346e;
  position:absolute;
  bottom:45px;
  left:0;
  z-index:99;
  box-shadow:0 10px 15px -7px rgba(0,0,0,0.2)
}
.right-ribbon{
  width:0;
  height:0;
  position:absolute;
  right:-35px;
  bottom:30px;
  border-top:24px solid #E0B05C;
  border-bottom:24px solid #E0B05C;
  border-left:10px solid #E0B05C;
  border-right:25px solid transparent;
  transition:all ease .3s;
}
.left-ribbon{
  width:0;
  height:0;
  position:absolute;
  left:-35px;
  bottom:30px;
  border-top:24px solid #E0B05C;
  border-bottom:24px solid #E0B05C;
  border-left:25px solid transparent;
  border-right:10px solid #E0B05C;
  transition:all ease .3s;
}
.team-wrap{
  width:100%;
  margin:2rem auto;
  text-align:center;
  position:relative;
}


@keyframes fadeout{
  from{
    opacity:0;
    transform:translateY(-200%);
  }
  to{
    opacity:1;
    transform:translateY(0);
  }
}

@keyframes fadein{
  from{
    opacity:1;
    transform:translateY(0);
  }
  to{
    opacity:0;
    transform:translateY(-200%);
  }
}




